body div {
	margin: 10px 0;
	width: 900px;
}

div#headliner{
	display: inline;
}

#headliner a img {
	border: 0px;
	height: 100;
}

div#account {
	width: 200px;
	float: right;
}

body {
	background: url("/static/images/kb.png") no-repeat fixed right bottom #666;
	font-family: 'Armata', sans-serif;
	padding: 10px 20px;
}

table {
	word-wrap: break-word;
	margin-bottom: 10px;
}

th, td {
	width: 100px;
	color: #666;
}
