body div {
	margin: 10px 0;
	width: 800px;
}

div#headliner{
	display: inline;
}

#headliner a img {
	border: 0px;
	height: 100;
}

div#account {
	width: 200px;
	float: right;
}

body {
	background: url("/static/images/duncan.png") no-repeat fixed right bottom #666;
	font-family: 'Armata', sans-serif;
	padding: 10px 30px;
}

div.my-summary {
	background-color: #c3ccdd;
	width: 800px;
}

div.my-summary td {
	font-size: 80px;
	text-align: center;
	color: #666;
	width: 200px;
}

div.my-summary th {
	font-size: 80px;
	text-align: center;
	color: #666;
	font-size: 20px;
}

div.team-board {
	padding: 20px 0;
	background-color: #fff;
	height: 400px;
}

div.team-board th, td {
	font-size: 10px;
	text-align: center;
	color: #666;
	width: 100px;
	overflow: hidden;
}

div.team-board table {
	cellspacing = "40";
	cellpadding = "5";
	word-wrap: break-word;
}