div.my-summary,
div.my-board {
	background-color: #c3ccdd;
	width: 800px;
}

div.my-summary td {
	font-size: 60px;
	text-align: center;
	color: #666;
	width: 200px;
}

div.my-summary th {
	width: 80px;
	font-size: 80px;
	text-align: center;
	color: #666;
	font-size: 20px;
}

div.my-board {
	text-align: center;
	color:#666;
}

div.my-board th {
	width: 200px;
	font-size: 11px;
}

div.team-board {
	padding: 20px 0;
	background-color: #fff;
}

div.team-board th, td {
	font-size: 10px;
	text-align: center;
	color: #666;
	width: 100px;
	overflow: hidden;
}

div.team-board table {
	cellspacing = "40";
	cellpadding = "5";
	word-wrap: break-word;
}