{% extends 'base.html' %}
{% load filters %}

{% block content %}

	<div class="my-summary">
	  <table>
		<tr>
		  <th>my stats</th>
		  {% for status in statuses %}
          <td>
          {% if user_status_matrix|lookup:user|lookup:status %}
              {{ user_status_matrix|lookup:user|lookup:status }}
          {% else %}
                0
          {% endif %}
          </td>
		  {% endfor %}
		</tr>
	  </table>
	</div>

	<div id="req">
	  see by requisition [<a id="see-by-req" href="#">+</a>]
	</div>

	<div id="my-board">
	  <table>
		<thead>
		  <tr>
			<th></th>
			{% for status in statuses %}
                <th>{{ status }}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  {% for req in reqs %}
		  <tr>
			<td>{{ req }}</td>
			{% for status in statuses %}
              <td>
              {% if req_status_matrix|lookup:req|lookup:status %}
                 {{ req_status_matrix|lookup:req|lookup:status }}
              {% else %}
                    0
              {% endif %}
              </td>
			{% endfor %}
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	</div>
	
	<div class="req-board">
	</div>
	
	<div class="team-board">
	  <table>
		<thead>
		  <tr>
			<th>Recruiter</th>
			{% for status in statuses %}
			<th>{{ status }}</th>
			{% endfor %}
		  </tr>
		</thead>

		<tbody>
		  {% for user1 in users %}
		  <tr>
			<td>{{ user1.username }}</td>
			{% for status in statuses %}
              <td>
              {% if user_status_matrix|lookup:user1|lookup:status %}
                  {{ user_status_matrix|lookup:user1|lookup:status}}
              {% else %}
                    0
              {% endif %}
              </td>
			{% endfor %}
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	</div>

{% endblock content %}
