{% extends 'base.html' %}

{% block content %}

	<div class="my-summary">
	  <table>
		<tr>
		  <th>my stats</th>
		  {% for status in statuses %}
		  <td>{{ user_status_matrix.user.status }}</td>
		  {% endfor %}
		</tr>
	  </table>
	</div>

	<div class="my-board">
	  <table>
		<thead>
		  <tr>
			<th></th>
			{% for status in statuses %}
			<th>{{ status }}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  {% for req in reqs %}
		  <tr>
			<td>{{ req }}</td>
			{% for status in statuses %}
			<td>{{ req_status_matrix.req.status }}</td>
			{% endfor %}
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	</div>
	
	<div id="req">
	  see by requisition [<a id="see-by-req" href="#">+</a>]
	</div>

	<div class="req-board">
	</div>
	
	<div class="team-board">
	  <table>
		<thead>
		  <tr>
			<th>Recruiter</th>
			{% for status in statuses %}
			<th>{{ status }}</th>
			{% endfor %}
		  </tr>
		</thead>

		<tbody>
		  {% for user in users %}
		  <tr>
			<td>{{ user.username }}</td>
			{% for status in statuses %}
			<td>
			  {{ user_status_matrix.user.status }}
			</td>
			{% endfor %}
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	</div>

{% endblock content %}
