{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}reporting.css" />
{% endblock head %}

{% block content %}

	<div class="my-summary">
	  <table>
		<tr>
		  <td class="summary-label">my<br>stats</td>
		  {% for status in statuses %}
		  <td>{{ user_status_matrix.user.status }}</td>
		  {% endfor %}
		</tr>
		<tfoot>
		  <tr>
			<th></th>
			{% for status in statuses %}
			<th>{{ status }}</th>
			{% endfor %}
		  </tr>
		</tfoot>
	  </table>
	</div>

	<div id="my-board">
	  <table>
		<tbody>
		  {% for req in reqs %}
		  <tr>
			<td>{{ req }}</td>
			{% for status in statuses %}
			<td>{{ req_status_matrix.req.status }}</td>
			{% endfor %}
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	</div>
	
	<div id="req">
	  <span id="req-text">hide requisitions</span> [<a id="see-by-req" href="#">+</a>]
	</div>

	<div class="req-board">
	</div>
	
	<div class="team-board">
	  <h2>team stats</h2>
	  <table>
		<thead>
		  <tr>
			<th></th>
			{% for status in statuses %}
			<th>{{ status }}</th>
			{% endfor %}
		  </tr>
		</thead>

		<tbody>
		  {% for user in users %}
		  <tr>
			<td>{{ user.username }}</td>
			{% for status in statuses %}
			<td>
			  {{ user_status_matrix.user.status }}
			</td>
			{% endfor %}
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	</div>

{% endblock content %}
